html, body {
  background-color: #154452;
}
body {
    margin:30px;
    font: 14px sans-serif;
    -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .game {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .game-info {
    display: block;
  }

  .game-info button{
    width: 150px;
    font-size:1.1em;
    color: #ffffff;
    border: none;
    background: none;
    margin: 3px 0;
    text-align: left
  }

  .game-info ol li > button:hover{
    font-style: normal;
    font-weight: bold;
  }

  
  #reset-btn {
    border-radius: 2px;
    padding: 10px;
    color: #154452;
    font-style: normal;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    text-align: center
  }

  #change-order-btn{
    border-radius: 2px;
    padding: 10px;
    color: #ffffff;
    font-style: normal;
    border: 1px solid #ffffff;
    background-color: #154452;
    text-align: center
  }

  .game-info > ol li {
    list-style-type: none
  }

  .status {
    width: 150px;
    color: #ffffff;
    font-weight: bold;
    font-size:24px;
    text-align: center;
    margin: 20px 0
  }
  

  .head-row-square {
    color: #ffffff;
    border-radius: 2px;
    border: none;
    width: 32px;
    float: left;
    line-height: 32px;
    height: 32px;
    margin: 0px 5px;
    padding: 0;
    text-align: right;
  }


  .head-col-square {
    color: #ffffff;
    border-radius: 2px;
    border: none;
    width: 32px;
    float: left;
    line-height: 32px;
    height: 32px;
    margin: 1px;
    padding: 0;
    text-align: center;
  }

  .square {
    background: #ffffff;
    border-radius: 2px;
    border: none;
    width: 32px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    height: 32px;
    margin: 1px;
    padding: 0;
    text-align: center;
  }
  
  .square:focus {
    outline: none;
    background: #00C4FF;
  }
  .square:hover{
    background: #d0d0d0
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .selected-step > button{
    color:#00C4FF;
    font-weight: bold !important
  }

  .win-square{
    background-color:#ffff00 !important
  }